<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="min-height:100vh; background-color: #B1D4E0;">
        
        <div class="card mt-4 mb-4" style="width:70%;background-color: #0C2D48;">
            
            <div class="row g-0">
                <div class="col-md-8">
                    {% block image %}{% endblock %}
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        <div class="alert alert-danger d-flex justify-content-center m-3" role="alert">
                                            <b>Error: {{ message }}</b>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success d-flex justify-content-start m-3" role="alert">
                                            <b>Success: {{ message }}</b>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>