{% extends "base_dashboard.html" %}
{% block title %}Customer Dashboard[XYZ Household Services]{% endblock %}
{% block nav_first %}<a class="nav-link active" href="{{url_for('customer_dashboard')}}"><b>Home</b></a>{% endblock %}
{% block nav_second %}<a class="nav-link" href="{{url_for('customer_dashboard_summary')}}"><b>Summary</b></a>{% endblock %}
{% block nav_third %}<a class="nav-link" href="{{url_for('customer_dashboard_search')}}"><b>Search</b></a>{% endblock %}
{% block content %}
<div class="container-fluid text-center mt-3" style="background-color: #0C2D48; color:white;border:10px solid black;">
    <p class="h1 mb-3 mt-3"><b>{{ service.name }}</b></p>
    <p class="h4 mb-3 mt-3">{{ service.description }} | ₹{{service.price}}/hr | {{service.time_required}} hours**</p>
    <a href="/customer/create/request/{{service.serv_id}}" class="btn btn-success mb-3"><b>Create a public request</b></a>
    <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th>
        S. No.
      </th>
      <th>
        Professional Username
      </th>
      <th>
        Service Description
      </th>
      <th>
        Work Experience
      </th>
      <th>
        Average Rating
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    {% if pros | length != 0 %}
      {% for pro in pros %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                {{pro.user_name}}
            </td>
            <td>
              {{pro.description}}
            </td>
            <td>
                {{pro.experience}}
            </td>
            <td>
                {{pro.avg_rating}}
            </td>
            <td>
                <a href="/customer/create/request/{{service.serv_id}}/{{pro.pro_id}}" class="btn btn-primary"><b>Create a private request</b></a>
            </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
          <th colspan="6">
              No professionals found.
          </th>
      </tr>
    {% endif %}
    </tbody>
    </table>
    <p class="h6 mb-3 mt-3">**Time required may vary and accurate details will be provided upon site inspection.</p>
</div>
{% endblock %}
